@page
@model ProjectManagment.Pages.Tasks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>TaskTracker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTracker.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskTracker.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTracker.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskTracker.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTracker.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskTracker.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTracker.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskTracker.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTracker.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskTracker.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskTracker.Assign)
        </dt>
        <dd class="col-sm-10">
            @if(Model.TaskTracker.AssignId != null){
                @Html.DisplayFor(model => model.TaskTracker.Assign.Name)
            }
            else
            {
                <p>No Assign</p>
            }
            
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TaskTracker.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
